<div id="carouselExample" class="carousel slide">
  <div style='border-radius: 10px;' class="carousel-inner">
    <div class="carousel-item active">
      <img style='width: 900px; height: 600px;' src="https://www.mytheresa.com/media/1094/1238/100/fc/P00734323_d2.jpg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img style='width: 900px; height: 600px' src="https://cdn.clothbase.com/uploads/54cdfd23-1f79-453e-948d-b6c5862a1783/P00872826.jpg" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img style='width: 900px; height: 600px;' src="https://images.voila.id/pr:sharp/rs:fit:2048:0/plain/https%3A%2F%2Fassets.voila.id%2Fvoila%2Fimages%2Fproduct%2Floro-piana%2F6product-FAE8124-W019-Xms-2024-10-09T1127320700.jpeg@webp" class="d-block" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>